html{
    --background:#D9D9D9;
    --onglet:#28A4A9;
    --ecriture:'Comfortaa';
    --couleur_titre:#ffffff;
    --couleur_ecriture:#000000;
    --hover:grey;
    --police_paragraphe:1rem;
    --police_titre:2rem;
    --bordure:#000000;
    --important:red;
}
/*il n'y a pas de style de police*/
body {
    background-color:var(--background);
    font-family: var(--ecriture);
}

.page {
    width: 100%;
    height: 80%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-flow: row nowrap;
}

p1{
    color:var(--important);
}

.title {
    position : relative;
    left : 10%;
    width: 80%;
    height : 50px;
    border-radius : 20px;
    margin-bottom: 5% ;
    background-color: var(--background);
}

.title > h1 {
    text-align : center;
    padding-top : 5px;
    font-family: var(--ecriture);
    font-size: var(--police_titre);
}

div.center {
    width: 50%;
    height : 650px;
    border-radius: 50px;
    background-color:var(--onglet);
}

div.label {
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-family: var(--ecriture);
    font-size: var(--police_paragraphe);
}

.label > div {
    background-color: var(--background);
    width : 75%;
    height: 30px;
    margin: 5px;
    margin-left : 20%;
    padding : 1px 2px;
    padding-top : 2%;
    border: 1px solid var(--bordure);
    text-align : center;
    font-size : 85%;
}

div.input {
    width : 40%;
    height : 400px;
    font-family: var(--ecriture);
    font-size: var(--police_paragraphe);
}

div.input > form {
    width: 100%;
    height : 400px;
    display: flex;
    flex-direction: column;
    font-family: var(--ecriture);
    font-size: var(--police_paragraphe);    
}

form.input_texte > input, form.input_texte > select {
    height: 30px;
    margin: 5px;
    padding: 1px 2px;
    font-family: var(--ecriture);
}

form.input_texte > select{
    padding : 2px;
    height : 37px;
    font-family: var(--ecriture);
    }

.imput_photo {
        width: 35%;
        height: 400px;
        display: flex;
        justify-content : center;
        align-items : center;
        font-family: var(--ecriture);
    }
div.photo {
    width: 80%;
    height: 50%;
    border-radius: 100%;
    background-image: url("../image/compte.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ecriture);
    font-size: var(--police_paragraphe);
}

input[type="file"]{
    opacity: 0%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #000000;
}

input[type="file"]:hover{
    opacity: 70%;
}

.submit {
    display: flex;
    width: 70%;
    height: 50px;
    position: relative;
    margin: auto;
    font-family: var(--ecriture);

}

.submit > input[type="submit"] {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border-style: none;
    border-radius: 20px;
    font-family: var(--ecriture);
}

.submit:hover > input[type="submit"] {
    background-color: var(--hover);
    font-family: var(--ecriture);
}

@media (max-width: 800px) {
    div.center{
        width: 100%;
    }

    .title > h1 {
    text-align : center;
    padding-top : 5px;
    font-size: 100%;
}
}
